<div class="text-center mb-4">
    <a href="{{ url_for('main.index') }}" class="navbar-brand navbar-brand-autodark">
        <center><img src="{{url_for('static', filename='img/bcgov/logo-h.png')}}" width="50%" alt=""></center>
    </a>
</div>