{% extends('layouts/base.min.jinja') %}
{% block page %}
<div class="container container-normal py-4">
    <div class="row align-items-center g-4">
        <div class="col-lg">
            <div class="container-tight">
                {% include('components/brand.jinja') %}
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="h2 text-center">Orgbook Publisher</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg d-none d-lg-block">
            <img src="{{url_for('static', filename='img/tabler/ai.png')}}" height="36" alt="">
        </div>
    </div>
</div>
{% endblock %}